absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
alabaster==0.7.12
anyio==3.5.0
appdirs==1.4.4
applaunchservices==0.3.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.14.2
asttokens==2.0.5
atomicwrites==1.4.0
attrs==22.1.0
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==0.0
bleach==4.1.0
Bottleneck==1.3.5
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.5
cookiecutter==1.7.3
cryptography==39.0.1
cycler==0.11.0
Cython==3.0.8
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.6
docstring-to-markdown==0.11
docutils==0.18.1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.9.0
flake8==6.0.0
fonttools==4.25.0
fqdn==1.5.1
gmpy2==2.1.2
google-auth==2.21.0
google-auth-oauthlib==1.0.0
grpcio==1.56.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
inflection==0.5.1
intervaltree==3.1.0
ipykernel==6.19.2
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
isort==5.9.3
jaraco.classes==3.2.1
jedi==0.18.1
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
json5==0.9.6
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==8.1.0
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
keyring==23.13.1
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
littleutils==0.2.2
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==0.8.4
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==8.12.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.2.1
notebook==6.5.4
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.25.0
numpydoc==1.5.0
oauthlib==3.2.2
ogb==1.3.6
outdated==0.2.2
packaging==23.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==23.1.2
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
pooch==1.4.0
poyo==0.5.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==4.23.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pydocstyle==6.3.0
pyflakes==3.0.1
Pygments==2.15.1
pylint==2.16.2
pylint-venv==2.3.0
pyls-spyder==0.4.0
pyobjc-core==9.0
pyobjc-framework-Cocoa==9.0
pyobjc-framework-CoreServices==9.0
pyobjc-framework-FSEvents==9.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-slugify==5.0.2
pytoolconfig==1.2.5
pytz==2022.7
PyYAML==6.0
pyzmq==25.1.0
QDarkStyle==3.0.2
qstylizer==0.2.2
QtAwesome==1.2.2
qtconsole==5.4.2
QtPy==2.2.0
rdkit==2023.9.5
requests==2.29.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope==1.7.0
rsa==4.9
Rtree==1.0.1
scikit-learn==1.2.2
scipy==1.11.4
Send2Trash==1.8.0
setuptools==67.8.0
sip==6.6.2
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.4.3
stack-data==0.2.0
sympy==1.11.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
terminado==0.17.1
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
torch==2.0.1
torch-cluster==1.6.1
torch-geometric==2.3.0
torch-geometric-temporal==0.54.0
torch-scatter==2.1.1
torch-sparse==0.6.17
torch-spline-conv==1.2.2
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
typing_extensions==4.6.3
ujson==5.4.0
Unidecode==1.2.0
uri-template==1.3.0
urllib3==1.26.16
watchdog==2.1.6
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.3.6
whatthepatch==1.0.2
wheel==0.38.4
widgetsnbextension==4.0.5
wrapt==1.14.1
wurlitzer==3.0.2
y-py==0.5.9
yapf==0.31.0
ypy-websocket==0.8.2
zipp==3.11.0
